name: Release Homebrew

on:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  homebrew:
    if: startsWith(github.ref, 'refs/tags/v')
    name: Update Homebrew Formula
    runs-on: ubuntu-latest
    steps:
      - name: Update Homebrew formula
        uses: mislav/bump-homebrew-formula-action@v3
        with:
          formula-name: uncomment
          formula-path: Formula/uncomment.rb
          homebrew-tap: Goldziher/homebrew-tap
          download-url: https://github.com/Goldziher/uncomment/archive/${{ github.event.release.tag_name }}.tar.gz
          commit-message: |
            {{formulaName}} {{version}}

            Created by https://github.com/mislav/bump-homebrew-formula-action
        env:
          COMMITTER_TOKEN: ${{ secrets.HOMEBREW_TOKEN }}
